@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body{
    background-color: #000000;
    font-family: 'Poppins',sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
.head{
    background-attachment: fixed;
    width: 100%;
}
p{
    font-size: small;
}
a{
    padding-right: 30px;
    color: white;
    text-decoration: none;
}
#head{
    background-color: red;
    width: auto;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
}
.desc{
    color: aliceblue;
    text-align: left;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(8px);
    position: absolute;
    margin-top: 10px;
    height: 85vh;
    width: 35%;
    margin-left: 61%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}
.tony{
    background-image: url("6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 90vh;
    margin-top: 10px;
    position: absolute;
    background-blend-mode: overlay;

}
.slide2{
    margin-top: 95vh;
    background-color: black;
}
.jarvis{
    background-image: url("9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 98%;
    height: 90vh;
    position: absolute;
}
.jarvis-desc{
    color: aliceblue;
    text-align: left;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(8px);
    height: 571px;
    width: 40%;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
}
.slide3{
    margin-top: 190vh;
    background-color: black;
}
.armour{
    background-image: url("16.avif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 98%;
    height: 90vh;
    position: absolute;
}
.armour-desc{
    color: aliceblue;
    text-align: center;
    justify-items: auto;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(8px);
    height: 110px;
    width: 97%;
    padding: 15px;
    position: absolute;
    margin-top: 470px;
}
#armour{
    margin-top: 0px;
    margin-bottom: 0px;
}
#explore{
    background-color: red;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 2px black;
    margin-top: 10px;
    transition: transform 0.5s ease;
}
#explore:hover{
    transform: scale(1.1);
}
.slide4{
    margin-top: 290vh;
    background-image: url(17.jpg);
    height: 100vh;
}
.heading{
    color: wheat;
    font-weight: 800;
    background-color: red;
    text-align: center;
    padding: 20px;
    font-size: medium;
}
.avengers{
    margin: auto;
    position: relative;
}
.slides{
    display: none;
}
.slides img{
    border: black;
    border-style: outset;
    vertical-align: middle;
    width: 70%;
    height: 75vh;
    margin-left: 200px;
    margin-top: 30px;
    box-shadow: 3px 3px 5px 1px white;
}
.fade{
    animation-name: fade;
    animation-duration: 3s;
}
@keyframes fade{
    0%{
        opacity: 0.4;
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.slider{
    text-align: center;
    position: absolute;
    margin-left: 42%;
    margin-top: 10px;
}
.dot{
    height: 3px;
    width: 20px;
    background-color: #bbb;
    display: inline-block;
    vertical-align: middle;
}
.active{
    background-color:white;
    height: 4px;
    width: 20px;
    border: red;
    border-style: solid;
}
.slide5{
    margin-top: 5vh;
    background-image: url(18.jpg);
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    margin-top: 10vh;
    background-color: red;
    height: 25vh;
    border-radius: 5px;
}
.row1{
    display: flex;
    flex-direction: row;
}

